{% extends 'base.html' %}{% block content %}
<!--code from task manager mini-project-->
<h3>Edit Schedule Item</h3>
<div class="row">
    <form action="{{ url_for('update_item', item_id=item._id) }}" method="POST"  class="col s12">
          <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <!--<i class="material-icons prefix">poll</i>-->
                    <select id="day" name="day">
                  <option value="" disabled selected>Select Day</option>
                  {% for day in schedule %}
                      <option value="{{day.day}}">{{day.day}}</option>
                  {% endfor %}
                </select>
                    <label>Day</label>
                </div>
            </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="morning" name="morning" type="text" class="materialize-textarea">{{ item.morning }}
                <label for="schedule">Morning</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="afternoon" name="afternoon" type="text" class="materialize-textarea">{{ item.afternoon }}
                <label for="icon_prefix">Afternoon</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="dinner" name="dinner" type="text" class="materialize-textarea">{{ item.dinner }}
                <label for="icon_prefix">Dinner</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field col s12">
                <input id="dinner_name" name="dinner_name" type="text" class="materialize-textarea">{{ item.dinner_name }}
                <label for="icon_prefix">Who Is Cooking</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="evening" name="evening" type="text" class="materialize-textarea">{{ item.evening }}
                <label for="icon_prefix">Evening</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit Schedule Item
                <i class="material-icons right"></i>
             </button>
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}