{% extends 'base.html'%} {% block content %}

<h3>Edit People</h3>
<div class="row">
    <form action="{{ url_for('update_people', people_id=person._id) }}" method="POST"  class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">portrait</i>
                <input id="people_name" name="people_name" type="text">
                <label for="icon_prefix">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">schedule</i>
                <textarea name="time_zone" id="time_zone" class="materialize-textarea"></textarea>
                <label for="icon_schedule">Time Zone</label>
            </div>
        </div>
        <div class="row">
            <div class="checkbox">
                <label>
                    {% if person.is_coming %}
                        <input id="is_coming" name="is_coming" type="checkbox" checked>
                    {% else %}
                        <input id="is_coming" name="is_coming" type="checkbox">
                    {% endif %}
                  <span class="checkbox"></span>
                  Is Coming
                </label>
            </div>
        </div>
         <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">hotel</i>
                <textarea name="accommodations" id="accommodations" class="materialize-textarea"></textarea>
                <label for="icon_hotel">Accommodations</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">restaurant</i>
                <textarea name="dietary_restrictions" id="dietary_restrictions" class="materialize-textarea"></textarea>
                <label for="icon_restaurant">Dietary Restrictions</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit Task
                <i class="material-icons right"></i>
             </button>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}