{% extends 'base.html'%} {% block content %}

<h3>Edit Schedule</h3>
<div class="row">
    <form action="{{ url_for('update_item', item_id=item._id) }}" method="POST"  class="col s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="item" name="day">
                  <option value="" disabled selected>Choose Day</option>
                  {% for day in schedule %}
                      <option value="{{day.day}}">{{day.day}}</option>
                  {% endfor %}
                </select>
                    <label>Day</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">schedule</i>
                <textarea name="morning" id="morning" class="materialize-textarea"></textarea>
                <label for="icon_schedule">Morning</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">schedule</i>
                <textarea name="afternoon" id="afternoon" class="materialize-textarea"></textarea>
                <label for="icon_schedule">Afternoon</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">restaurant</i>
                <textarea name="dinner" id="dinner" class="materialize-textarea"></textarea>
                <label for="icon_restaurant">Dinner</label>
            </div>
        </div>
          <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">restaurant</i>
                <textarea name="dinner_name" id="dinner_name" class="materialize-textarea"></textarea>
                <label for="icon_person">Dinner Name</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">restaurant</i>
                <textarea name="evening" id="evening" class="materialize-textarea"></textarea>
                <label for="icon_restaurant">Evening</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit
                <i class="material-icons right"></i>
             </button>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}