{% extends 'base.html' %}
{% block content %}

<!--code from codepen.io, task manager project & stack overflow-->
<div class="container">
<h3>Expenses</h3>  
<table>
  <!--<thead>-->
    <div class="col s12 m6 l1 collapsible-body">
    {% for expense in expenses %}
      <tr>
      <th>
        <span>{{expense.day}}</span>
      </th>
      </tr>
      <tr>
      <td class="day"><span>Day</span></td>
      <td><span>
        {{expense.day}}
      </span> </td>
      </tr>
      <tr>
      <td class="amount"><span>Amount</span></td>
      <td><span type="number" id="calcsum">
        {{expense.amount}}
      </span> </td>
      </tr>
      <tr>
      <td class="name"><span>Name of Person</span></td>
      <td><span>
        {{expense.name}}
      </span> </td>
      </tr>
      <tr>
      <td class="notes"><span>Notes</span></td>
      <td><span>
        {{expense.note}}
      </span> </td>

      </tr>
       <a href="{{url_for('edit_expense', expense_id=expense._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a> 
            <i class="material-icons right"></i>
       <a href="{{url_for('delete_expense', expense_id=expense._id)}}" class="waves-effect waves-light btn btn_small green">Del</a> 
            <i class="material-icons right"></i>
      </div>
      </table>
      {% endfor %}
      </div>
      <div>
      {{ expenses|sum(attribute='amount') }}
      </div>
      <div>
      <a href="{{url_for('add_expense' )}}" class="waves-effect waves-light btn btn_small blue">Add Expense</a> 
            <i class="material-icons right"></i>
      </div>
      {% endblock %}