{% extends 'base.html'%} {% block content %}
<div class="container">
<div class="row">
    <div class="col s6 m6">
        <h3>Expenses</h3>
    </div>
</div>
<div class="row">
    <div class="col s6 m6">
        <i class="material-icons right"></i>
         <a href="{{url_for('add_expense')}}" class="waves-effect waves-light btn green">Add New Expense</a>
  </div>
</div>
    <ul>
        {% for expense in expenses %}
        <li>
            <div class="row">
            <div class="col s6 m6">
            <h5>  <span>{{expense.exp_name}}</span></h5>
            </div>
            <div class="col s6 m6">
            <i class="material-icons right"></i>
            <a href="{{url_for('edit_expense', expense_id=expense._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a> 
            <i class="material-icons right"></i> 
            <a href="{{url_for('delete_expense', expense_id=expense._id)}}" class="waves-effect waves-light btn btn_small">Del</a> 
            <i class="material-icons right"></i>  
            </div>
            </div>
            
            <div class="row">
            <div class="col s6 m6">
            <span>Date</span>
            </div>
            <div class="col s6 m6">
            {{expense.date}}
            </div>
            </div>

            <div class="row">
            <div class="col s6 m6">
            <span>Amount</span>
            </div>
            <div class="col s6 m6" type="number" id="calcsum">
            {{expense.amount}}
            </div>
            </div>

            <div class="row">
            <div class="col s6 m6">
            <span>Person</span>
            </div>
            <div class="col s6 m6">
            {{expense.person}}
            </div>
            </div>

            <div class="row">
            <div class="col s6 m6">
            <span>Notes</span>
            </div>
            <div class="col s6 m6">
            {{expense.notes}}
            </div>
            </div>
        </li>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        {% endfor %}
    </ul>
</div>
<div class="row">
<div class="col s4 m4">
</div>
<div class="col s8 m8">
     <span>Total Expenses = {{ total }}</span>
</div>
</div>

{% endblock %}