{% extends 'base.html' %} {% block content %}

    <section>
    <h5>Destination: Niagara Falls</h5>
    <div class="niagara-falls"> </div>
    </section>
    <section>
    <h5>Map of Niagara Falls, Ontario, Canada</h5>
    <div id="map"></div>
    </section>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC57cZlxuREsf05dZtlDu4yY_cBOKV9wMo&callback=initMap"></script>
    <script src="static/js/map.js"></script>

    {% endblock %}

    