{% extends 'base.html' %}
{% block content %}

<!--code from codepen.io, task manager project & stack overflow-->
<div class="container">
<h3>People</h3>  
<table>
  <!--<thead>-->
    <div class="col s12 m6 l1 collapsible-body">
    {% for people in person %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.diet}}
      </span> </td>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictiojns</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
       <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
 <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
 <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
 <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
 <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
             <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
       <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Person</a> 
            <i class="material-icons right"></i>
      </button>
      </tr>
      {% endfor %}
      </div>
    <div class="col s12 m6 l1 collapsible-body">
    {% for person in people %}
      <tr>
      <th>
        <span>{{person.name}}</span>
      </th>
      </tr>
      <tr>
      <td class="timezone"><span>Time Zone</span></td>
      <td><span>
        {{person.time_zone}}
      </span> </td>
      </tr>
      <tr>
      <td class="is_coming"><span>Is Coming?</span></td>
      <td><span>
        {{person.is_coming}}
      </span> </td>
      </tr>
      <tr>
      <td class="accommodations"><span>Accommodations</span></td>
      <td><span>
        {{person.accommodations}}
      </span> </td>
      </tr>
      <tr>
      <td class="diet"><span>Dietary Restrictions</span></td>
      <td><span>
        {{person.dietary_restrictions}}
      </span> </td>
             <!--<button class="btn waves-effect waves-light" type="submit" name="action">Edit Person </button>-->
      <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn btn_small blue">Edit Someone</a> 
            <i class="material-icons right"></i>
      </tr>
      </div>
      </table>
      <!--<button class="btn waves-effect waves-light" type="submit" name="action">Add Person</button>-->
      <a href="{{url_for('add_person' )}}" class="waves-effect waves-light btn btn_small blue">Add Someone</a> 
            <i class="material-icons right"></i>
      </div>
      {% endfor %}
      {% endblock %}