{% extends 'base.html'%} {% block content %}
<div class="container">
<div class="row">
    <div class="col s6 m6">
        <h3>People</h3>
    </div>
</div>
<div class="row">
    <div class="col s6 m6">
        <i class="material-icons right"></i>
        <a href="{{url_for('add_person', person_id=person._id)}}" class="waves-effect waves-light btn green">Add New Person</a> 
    </div>
</div>
    <ul>
        {% for person in people %}
        <li>
            <div class="row">
            <div class="col s6 m6">
            <h5>  <span>{{person.name}}</span></h5>
            </div>
            <div class="col s6 m6">
            <i class="material-icons right"></i>
            <a href="{{url_for('edit_person', person_id=person._id)}}" class="waves-effect waves-light btn blue" style="text-align:center;">Edit</a> 
            <i class="material-icons right"></i> 
            </div>
            </div>

            <div class="row">
             <div class="switch">
                <label>
                 {% if person.is_coming %}
                <input id="is_coming" name="is_coming" type="checkbox" checked>
                <span class="lever"></span>
                    Is Coming
                </label>
                {% else %}
                 <label>
                <input id="is_coming" name="is_coming" type="checkbox">
                <span class="lever"></span>
                    Is Coming
                </label>
                {% endif %}
            </div>
         </div>
            
            <div class="row">
            <div class="col s6 m6">
            <span>Time Zone</span>
            </div>
            <div class="col s6 m6">
            {{person.time_zone}}
            </div>
            </div>

            <!--<div class="row">
            <div class="col s6 m6">
            <span>Is Coming?</span>
            </div>
            <div class="checkbox col s6 m6">
                <label>
                    {% if person.is_coming %}
                        <text id="is_coming" name="is_coming" type="checkbox" checked>
                        <span class="checkbox"></span>
                    <label>
                    {% else %}
                        <text id="is_coming" name="is_coming" type="checkbox">
                        <span class="checkbox"></span>
                    {% endif %}
                </label>
            </div>
            </div>-->

            <div class="row">
            <div class="col s6 m6">
            <span>Accommodations</span>
            </div>
            <div class="col s6 m6">
            {{person.accommodations}}
            </div>
            </div>

              <div class="row">
            <div class="col s6 m6">
            <span>Dietary Restrictions</span>
            </div>
            <div class="col s6 m6">
            {{person.diet}}
            </div>
            </div>
        </li>
        {% endfor %}
        <!-- <a id="top-button"></a>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>-->
    </ul>
       
       
</div>
{% endblock %}