{% extends 'base.html' %}
{% block content %}

<!--code from codepen.io, task manager project & stack overflow-->
<div class="container">
<h3>Schedule</h3>
<div>
    <a href="{{url_for('add_item', item_id=item._id)}}" class="waves-effect waves-light btn btn_small green">Add Schedule Item</a> 
            <i class="material-icons right"></i>   
  </div>
 {% for item in schedule %}
<table>
      <tr class="col s12 m6 l1">
      <th>
        <span>{{item.day}}, </span>
        <span> {{item.date}}</span>
      </th>
      </tr>
      <tr>
      <td class="morning"><span>Morning</span></td>
      <td><span>
        {{item.morning}}
      </span> 
      <a href="{{url_for('edit_item', item_id=item._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a> 
            <i class="material-icons right"></i>
      <a href="{{url_for('delete_item', item_id=item._id)}}" class="waves-effect waves-light btn btn_small">Del</a>
      </td>
      </tr>
      <tr class="col s12 m6 l1">
      <td class="afternoon"><span>Afternoon</span></td>
      <td><span>
        {{item.afternoon}}
      </span> 
      <a href="{{url_for('edit_item', item_id=item._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a> 
            <i class="material-icons right"></i>
      <a href="{{url_for('delete_item', item_id=item._id)}}" class="waves-effect waves-light btn btn_small">Del</a>
      </td>
      </tr>
      <tr class="col s12 m6 l1">
      <td class="dinner"><span>Dinner</span></td>
      <td><span>
        {{item.dinner_description}}
         {{item.dinner_name}}
      </span> 
     <a href="{{url_for('edit_item', item_id=item._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a> 
            <i class="material-icons right"></i>
      <a href="{{url_for('delete_item', item_id=item._id)}}" class="waves-effect waves-light btn btn_small">Del</a>
       </td>
      </tr>
      <tr class="col s12 m6 l1">
      <td class="evening"><span>Evening</span></td>
      <td><span>
        {{item.evening}}
      </span> 
      <a href="{{url_for('edit_item', item_id=item._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a> 
            <i class="material-icons right"></i>
      <a href="{{url_for('delete_item', item_id=item._id)}}" class="waves-effect waves-light btn btn_small">Del</a>
      </td>
      </tr>
</table>

      {% endfor %}

 {% endblock %}