{% extends 'base.html' %}
{% block content %}

<!--code from codepen.io, task manager project & stack overflow-->
<div class="container">
<table>
  <!--<thead>-->
    <div class="col s12 m6 l1 collapsible-body">
    {% for item in schedule %}
      <tr>
      <th>
        <span class="day">July 3</span>
        <span class="long">Saturday</span>
      </th>
      </tr>
      <tr>
      <td class="morning"><span>Morning</span></td>
      <td><span>
        {{item.morning}}
      </span> </td>
      </tr>
      <tr>
      <td class="afternoon"><span>Afternoon</span></td>
      <td><span>
        {{item.afternoon}}
      </span> </td>
      </tr>
      <tr>
      <td class="dinner"><span>Dinner</span></td>
      <td><span>
        {{item.dinner}}
      </span> </td>
      </tr>
      <tr>
      <td class="evening"><span>Evening</span></td>
      <td><span>
        {{item.evening}}
      </span> </td>
      </tr>
      {% endfor %}
      </div>
        <div class="col s12 m6 l1 collapsible-body">
    {% for item in schedule %}
      <tr>
      <th>
        <span class="day">July 4</span>
        <span class="long">Sunday</span>
      </th>
      </tr>
      <tr>
      <td class="morning"><span>Morning</span></td>
      <td><span>
        {{item.morning}}
      </span> </td>
      </tr>
      <tr>
      <td class="afternoon"><span>Afternoon</span></td>
      <td><span>
        {{item.afternoon}}
      </span> </td>
      </tr>
      <tr>
      <td class="dinner"><span>Dinner</span></td>
      <td><span>
        {{item.dinner}}
      </span> </td>
      </tr>
      <tr>
      <td class="evening"><span>Evening</span></td>
      <td><span>
        {{item.evening}}
      </span> </td>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for item in schedule %}
      <tr>
      <th>
        <span class="day">July 5</span>
        <span class="long">Monday</span>
      </th>
      </tr>
      <tr>
      <td class="morning"><span>Morning</span></td>
      <td><span>
        {{item.morning}}
      </span> </td>
      </tr>
      <tr>
      <td class="afternoon"><span>Afternoon</span></td>
      <td><span>
        {{item.afternoon}}
      </span> </td>
      </tr>
      <tr>
      <td class="dinner"><span>Dinner</span></td>
      <td><span>
        {{item.dinner}}
      </span> </td>
      </tr>
      <tr>
      <td class="evening"><span>Evening</span></td>
      <td><span>
        {{item.evening}}
      </span> </td>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for item in schedule %}
      <tr>
      <th>
        <span class="day">July 6</span>
        <span class="long">Tuesday</span>
      </th>
      </tr>
      <tr>
      <td class="morning"><span>Morning</span></td>
      <td><span>
        {{item.morning}}
      </span> </td>
      </tr>
      <tr>
      <td class="afternoon"><span>Afternoon</span></td>
      <td><span>
        {{item.afternoon}}
      </span> </td>
      </tr>
      <tr>
      <td class="dinner"><span>Dinner</span></td>
      <td><span>
        {{item.dinner}}
      </span> </td>
      </tr>
      <tr>
      <td class="evening"><span>Evening</span></td>
      <td><span>
        {{item.evening}}
      </span> </td>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for item in schedule %}
      <tr>
      <th>
        <span class="day">July 7</span>
        <span class="long">Wednesday</span>
      </th>
      </tr>
      <tr>
      <td class="morning"><span>Morning</span></td>
      <td><span>
        {{item.morning}}
      </span> </td>
      </tr>
      <tr>
      <td class="afternoon"><span>Afternoon</span></td>
      <td><span>
        {{item.afternoon}}
      </span> </td>
      </tr>
      <tr>
      <td class="dinner"><span>Dinner</span></td>
      <td><span>
        {{item.dinner}}
      </span> </td>
      </tr>
      <tr>
      <td class="evening"><span>Evening</span></td>
      <td><span>
        {{item.evening}}
      </span> </td>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for item in schedule %}
      <tr>
      <th>
        <span class="day">July 8</span>
        <span class="long">Thursday</span>
      </th>
      </tr>
      <tr>
      <td class="morning"><span>Morning</span></td>
      <td><span>
        {{item.morning}}
      </span> </td>
      </tr>
      <tr>
      <td class="afternoon"><span>Afternoon</span></td>
      <td><span>
        {{item.afternoon}}
      </span> </td>
      </tr>
      <tr>
      <td class="dinner"><span>Dinner</span></td>
      <td><span>
        {{item.dinner}}
      </span> </td>
      </tr>
      <tr>
      <td class="evening"><span>Evening</span></td>
      <td><span>
        {{item.evening}}
      </span> </td>
      </tr>
      {% endfor %}
      </div>
      <div class="col s12 m6 l1 collapsible-body">
    {% for item in schedule %}
      <tr>
      <th>
        <span class="day">July 9</span>
        <span class="long">Friday</span>
      </th>
      </tr>
      <tr>
      <td class="morning"><span>Morning</span></td>
      <td><span>
        {{item.morning}}
      </span> </td>
      </tr>
      <tr>
      <td class="afternoon"><span>Afternoon</span></td>
      <td><span>
        {{item.afternoon}}
      </span> </td>
      </tr>
      <tr>
      <td class="dinner"><span>Dinner</span></td>
      <td><span>
        {{item.dinner}}
      </span> </td>
      </tr>
      <tr>
      <td class="evening"><span>Evening</span></td>
      <td><span>
        {{item.evening}}
      </span> </td>
      </tr>
      {% endfor %}
      </div>
    <!----
      <th>
        <span class="day">July 4</span>
        <span class="long">Sunday</span>
      </th>
      <th>
        <span class="day">July 5</span>
        <span class="long">Monday</span>
      </th>
      <th>
        <span class="day">July 6</span>
        <span class="long">Tuesday</span>
      </th>
      <th>
        <span class="day active">July 7</span>
        <span class="long">Wednesday</span>
      </th>
      <th>
        <span class="day">July 8</span>
        <span class="long">Thursday</span>
      </th>
      <th>
        <span class="day">July 9</span>
        <span class="long">Friday</span>
      </th>
    </tr>
 <!-- </thead> 
  <tbody>
    <tr>
      <td class="morning" rowspan="4"><span>Morning</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="afternoon" rowspan="4"><span>Afternoon</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
    <tr>
      <td class="dinner" rowspan="4"><span>Dinner</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="evening" rowspan="4"><span>Evening</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    -->
</table>
</div>
 {% endblock %}
